body{
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;

}
.coderhouse {
  color:yellow;
  background-color: black;
  padding: 5px;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
}