
.logo {
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: auto;
  display: block;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}